africastalking==1.2.3
asgiref==3.3.1
attrs==20.3.0
autopep8==1.5.6
boto3==1.17.39
botocore==1.20.39
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
codecov==2.1.11
contextlib2==0.6.0.post1
coreapi==2.3.3
coreschema==0.0.4
coverage==5.5
Django==3.1.7
djangorestframework==3.12.2
djangorestframework-simplejwt==4.4.0
drf-yasg==1.20.0
facebook-sdk==3.1.0
google-api-core==1.26.2
google-api-python-client==2.0.2
google-auth==1.28.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
httplib2==0.19.0
idna==2.10
importlib-metadata==3.10.0
inflection==0.5.1
iniconfig==1.1.1
itypes==1.2.0
Jinja2==2.11.3
jmespath==0.10.0
MarkupSafe==1.1.1
packaging==20.9
pkg-resources==0.0.0
pluggy==0.13.1
protobuf==3.15.6
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
PyJWT==1.7.1
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2021.1
requests==2.25.1
rsa==4.7.2
ruamel.yaml==0.17.0
ruamel.yaml.clib==0.2.2
s3transfer==0.3.6
schema==0.7.4
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
twilio==6.55.0
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.4
zipp==3.4.1
